[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/soeusan168
[access "refs/for/refs/*"]
	read = group user/soeusan168
	push = group user/soeusan168
	label-Code-Review = -2..+2 group user/soeusan168
	label-Verified = -1..+1 group user/soeusan168
	rebase = group user/soeusan168
	removeReviewer = group user/soeusan168
	submit = group user/soeusan168
[access "refs/heads/*"]
	read = group user/soeusan168
	create = group user/soeusan168
	push = +force group user/soeusan168
	pushMerge = group user/soeusan168
[access "refs/tags/*"]
	push = +force group user/soeusan168
	pushTag = group user/soeusan168
	pushSignedTag = group user/soeusan168
